/* Full page */
.login-page {
    margin-top: 100px;
  height: 100vh;
  background: #191d23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Card */
.login-card {
  width: 360px;
 background: linear-gradient(180deg, #546679, #1c2940);
  padding: 40px 32px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Avatar */
.avatar {
  margin: 0 auto 16px;
  background: #fde8e4;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.avatar i {
  font-size: 73px;
  color: #ff5722;
}

/* User ID */
.user-id {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
    color: #fff;
}

/* Password input */
.password-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.password-input:focus {
  border-color: #ff5722;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #ff5722;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.login-btn:hover {
  background: #e64a19;
}

/* Forgot */
.forgot {
  margin-top: 16px;
  font-size: 13px;
  color: #c9c9c9;
  cursor: pointer;
  margin-bottom: 40px;
}

/* Footer */
.login-footer {
  margin-top: 30px;
  font-size: 13px;
  color: #9e9e9e;
}

.login-footer a {
  color: #6da3e6;
  text-decoration: none;
}

.disclaimer {
  font-size: 11px;
  color: #777;
  margin-top: 20px;
}

.disclaimer p {
  text-align: center;
  margin-bottom: -6px;
}

.disclaimer a {
  color: #777;
  text-decoration: underline;
}

.apps{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 15px;
}

.logo{
    margin-top: 25px;
    justify-content: center;
    display: flex;
}

.disclaimer .version {
    margin-bottom: 25px;
}
